@media screen and (max-width: 425px) {
  /* Nav Bar */
  .header {
    display: grid;
    height: 200px;
    color: black;
    display: grid;
    width: 400px;
    justify-items: center;
    grid-template-columns: repeat(5, 12%);
    grid-template-rows: repeat(18, 10%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100px;
    margin-bottom: 80px;
  }
  nav {
    display: grid;
    grid-area: 12/4/13/5;
    margin-left: 100px;
    width: 400px;
  }

  a {
    text-decoration: none;
    list-style: none;
    color: black;
  }

  #ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: stretch;
    align-content: stretch;
    padding: 10px;
  }

  .header-color {
    color: rgb(255, 255, 255);
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin-right: 50px;
  }

  li {
    text-decoration: none;
    list-style: none;
    padding: 17px;
    font-size: 16px;
    font-weight: 1000;
  }

  li:hover {
    text-decoration: underline;
  }
  #ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
  }

  .nv-l {
    font-size: 30px;
    margin-top: 35px;
    color: black;
    display: grid;
    justify-content: center;
    border-bottom: #d8d8d8 solid 2px;
    width: 400px;
    justify-items: center;
    grid-area: 1 /5 /5/6;
    margin-bottom: -12px;
  }
  /* Hero Image */
  .containerHI {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    height: 550px;
    background-image: url(/images/hero-image.webp);
    background-repeat: no-repeat;
    background-size: 257%;
    box-shadow: inset black 1px 1px 20px 9px;
  }

  .heroImageContent {
    display: grid;
    grid-area: 1/1/1/1;
  }

  .subTitle {
    display: grid;
    grid-area: 3 /2 /3 /6;
    color: black;
  }

  .hero-IH {
    display: grid;
    grid-area: 3 /2 /3 /6;
    font-size: 50px;
  }

  .hero-image {
    height: 60vh;
    width: 27vw;
    display: grid;
    grid-area: 1 / 6 / 1 / 6;
  }

  .pButton {
    padding: 14px;
    font-size: 17px;
    transition: transform 0.2s;
    color: white;
    background-color: #473bf0;
    width: 174px;
    height: 20px;
    justify-content: center;
    display: grid;
    justify-items: center;
    text-shadow: black 0px 0px 18px;
    display: grid;
    grid-area: 5 /2 /5 /2;
  }

  .navImg {
    height: 30px;
    width: 30px;
    margin-top: -70px;
    margin-left: 350px;
  }
  .navImg:hover {
    height: 33px;
    width: 33px;
  }

  .navImg2 {
    height: 20px;
    width: 20px;
    margin-top: -70px;
    margin-left: -1px;
    color: black;
  }
  .navImg2:hover {
    height: 33px;
    width: 33px;
  }

  .navImg22 {
    height: 30px;
    width: 30px;
    margin-top: -42px;
  }

  .navImg22:hover {
    height: 30px;
    width: 30px;
  }

  .navImg3 {
    height: 30px;
    width: 30px;
    margin-top: -69px;
    margin-left: -357px;
  }

  .navImg3:hover {
    height: 33px;
    width: 33px;
  }
  .mainTitle {
    margin-bottom: -10px;
  }
  /* Body */

  .containerHIC {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    height: 110px;
    background-image: url(/images/hero-image-C.jpeg);
    background-repeat: no-repeat;
    background-size: 257%;
    box-shadow: inset black 1px 1px 20px 9px;
  }

  .cTitle {
    display: grid;
    grid-area: 2/4/5/10;
    color: white;
    font-size: 30px;
    margin-left: 16px;
  }
  label {
    font-size: 26px;
  }
  input {
    font-size: 26px;
  }
  /* Footer */
  footer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 2000px;
    border-top: black solid 1px;
    background-image: url(/images/hero-image.webp);
  }

  .footShade {
    background-color: rgba(0, 0, 0, 0.554);
    display: grid;
    grid-area: 1/1/11/14;
  }

  .services {
    display: grid;
    grid-area: 1/2/1/4;
    color: white;
  }

  .ls {
    padding: 12px;
    color: white;
  }

  .offices {
    display: grid;
    grid-area: 2/2/5/3;
    color: white;
  }

  .oI {
    margin-top: -77px;
    color: white;
  }

  .oI2 {
    margin-top: -130px;
    color: white;
  }

  .follow {
    display: grid;
    grid-area: 5/2/9/3;
    margin-left: 75px;
    color: white;
  }

  #facebook,
  #twitter,
  #instagram,
  #snapchat {
    padding: 13px;
    font-size: 30px;
    width: 64px;
    text-decoration: none;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
  }
  .fa-facebook {
    background: #00000080;
    color: white;
  }
  .fa-twitter {
    background: #00000080;
    color: white;
  }
  .fa-instagram {
    background: #00000080;
    color: white;
  }
  .fa-snapchat {
    background: #00000080;
    color: white;
  }
}
